.bookingpageWrapper {
  text-align: center;
}

.bookingpageText {
  margin-top: 1.5em;
}

.bookingpageIntro {
  margin-top: 3em;
  margin-bottom: 3em;
  border-bottom: 4px solid #16ab50;
}

.bookingpageDisclaimer {
  text-align: left !important;
  margin-left: 100px;
}

.bookingpageForm {
  height: 275px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forms {
  font-size: x-large;
}

button {
  border-radius: 5px;
}

.errorDate {
  border: 2px solid red;
}

.confMsg {
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .bookingpageDisclaimer {
    text-align: left !important;
    margin-left: 5px;
  }
}
