.cancellingpageWrapper {
    text-align: center;
}

.cancellingpageText {
    margin-top: 1.5em;
}

.cancellingpageIntro {
    margin-top: 3em;
    margin-bottom: 3em;
    border-bottom: 4px solid #16ab50;
}

.currAppointments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appt {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px black solid;
    border-radius: 5px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.appt h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trash-icon {
    font-size: 2em;
}

.trash-icon:hover {
    cursor: pointer;
}