.contactpageWrapper {
    text-align: center;
}

.contactpageText {
    margin-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 4px solid #16ab50;
}

.contactpageInfo {
    text-align: left !important;
    margin-left: 100px;
    margin-top: 50px;
}

.address {
    margin-bottom: 3em;
}

.sghMap {
    height: 70%;
    width: 70%;
}

.contacts {
    margin-bottom: 3em;
}

img {
    margin: 5px;
}