.homepageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homepageIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heart {
  background: linear-gradient(45deg, #ff4d4d, #ff99cc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.compassion {
  background: linear-gradient(45deg, #007bff, #00bfff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.integrity {
  background: linear-gradient(45deg, #8a2be2, #bf7eff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collaboration {
  background: linear-gradient(45deg, #8b4513, #ca9772);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepageIntro > div {
  margin-top: 15px;
  margin-bottom: 15px;
}

img.vivian {
  height: 35%;
  width: 35%;
  border-radius: 50%;
}

button {
  height: 50px;
  width: 250px;
  border-radius: 50px;
  color: white;
  background-color: #4ade80;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #16a34a;
  cursor: pointer;
}
