.sghlogo {
  width: 170px;
  height: 50px;
  margin-right: 50px;
}
.options {
  font-size: 20px;
}
.logoutIconWrapper {
  background: none;
  color: inherit;
  border: none;
  margin-left: 10px;
  font: inherit;
}

.logoutIcon {
  color: #4f4f4f;
}

.logoutIcon:hover {
  color: #f83535;
}
